<h1 class="display-4 text-center">
    Video games ontology
</h1>
<p class="lead text-center" style="margin-top: 2em;">
A video game or computer game is an electronic game that involves interaction with a user interface or input device – such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback. This feedback is shown on a video display device, such as a TV set, monitor, touchscreen, or virtual reality headset. Video games are often augmented with audio feedback delivered through speakers or headphones, and sometimes with other types of feedback, including haptic technology. Video games are defined based on their platform, which include arcade games, console games, and personal computer (PC) games. More recently, the industry has expanded onto mobile gaming through smartphones and tablet computers, virtual and augmented reality systems, and remote cloud gaming. <a href="https://dbpedia.org/page/Video_game">DBPedia</a></a>
</p>
<a href="/userlist" class="btn btn-primary btn-lg btn-block" style="margin-top: 2em;">Go to users</a>

<p class="lead text-center" style="margin-top: 2em;">Zoé Lenglemetz & Mattéo Bernardi</p>