<div class="container">
    <h1>UserList</h1>
    <p>Select an User</p>

    <ul class="list-group bg-dark">
        {{#each users}}
        <li class="list-group-item bg-dark"><a href="/user/{{id}}">{{real_name}} ({{username}})</a></li>
        {{/each}}
    </ul>
</div>